.navbar{
  background-color: white;

}

.submenu {
  position: relative;
}

.submenu #carrito{
  display: none;
}
.submenu:hover #carrito{
  display: block;
  color: white;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background: #DAF7A6;
  padding: 20px;
}
.vacio {
  padding: 10px;
  background-color: #fbaf32;
  text-align: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.button {
  
  padding: 10px;
  background-color: #F7F4EE;
  color: #21201F;
  text-align: center;
  border-radius: 10px;

}

#bagshop {
  position: relative;
  padding: 10px;
  float: right;
  text-decoration: none;
  height: 60px;
} 

th {
  color: #21201F;

}

body
{
    background-color: #EFCB8C;
}

#viverus{
    width: 1600px;
    height: 900px;
    
}

#lista-platillos .row {
  margin-bottom: 20px;
}
.agregar-carrito{
  margin: 10px 0;
}

.bannerviverus{
  position: center;
  width: max-content;
  margin-inline-start: 100px;
}

h4{
  text-align: center;
  color: beige;
}

#botoncompra{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr{
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  .footer__nav > * {
    flex: 1;
  }
    
  .footer__addr {
    flex: 2 0px;
  }
  
  .footer__nav {
    flex: 1 0px;
  }


  section{
    margin-inline-start: 20px;
    
    
  }

  .contenedor1{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
  }

  .card-carrito {
    margin-left: 25px;
    margin-right: 25px;
  }

  
